/**
 * override custom libs styles. This files is not required for core sing functionality and may be removed
 */

/***********************/
/*         NvD3        */
/***********************/


.nvd3-svg svg text,
.nvd3-svg .nvd3 text {
  font: $font-weight-base $font-size-sm $font-family-base;
  fill: $text-color;

  .widget & {
    fill: $widget-color;
  }
}

.nvd3-svg svg .title {
  font: $font-weight-bold $font-size-base $font-family-base;
}

.nvd3-svg .nvd3.nv-noData {
  font-size: $font-size-lg;
  font-weight: $font-weight-bold;
}

.nvd3-svg .nvd3 .nv-axis path.domain {
  stroke-opacity: 0;
}

.nvd3-svg .nv-controlsWrap {
  .nv-legend-symbol {
    fill: $white !important;
    stroke: $white !important;
  }
}

.nvd3-svg .nvd3 .nv-axis .zero line {
  stroke-opacity: 0.1;
}

.nvd3-svg .nvd3 .nv-legend .disabled circle {
  fill-opacity: 0;
}

.nvd3-svg .nvd3 .nv-axis line {
  stroke: #000;
  stroke-opacity: .1;
}

.nvtooltip.xy-tooltip h3 {
  background-color: transparent;
  border: none;
  color: inherit;
}

.stat-widget header .nvd3.nv-multibar .nv-group {
  fill-opacity: 1 !important;
}

.nvd3-svg .nvd3.nv-stackedarea path.nv-area {
  fill-opacity: .8;
}

.nvd3-svg .nvd3.nv-stackedarea path.nv-area.hover {
  fill-opacity: .95;
}

.nvd3-svg .nvd3 .nv-axis path.domain {
  display: none;
}


.nvtooltip.xy-tooltip {
  padding: 5px;
  position: absolute;
  background-color: rgba($widget-bg-color, .6);
  color: $widget-color;
  border: none;
  z-index: 10000;

  font-family: inherit;

  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;

  -moz-border-radius: 0;
  border-radius: 0;

  transition: none;
  -moz-transition: none;
  -webkit-transition: none;
}

.nvtooltip.xy-tooltip {
  font-size: $font-size-base;
  text-align: center;
}

.nvd3-svg .nvd3 .nv-axis line.zero {
  display: none;
}

/**
 * Switchery
 */

.switchery {
  background-color: transparent !important;
}

/***********************************/
/**           Glyphicon           **/
/***********************************/

.glyphicon {
  vertical-align: baseline;
}

.glyphicon-comment:before {
  content: "\E111";
}

/***********************************/
/**        Awesome Checkbox       **/
/***********************************/
.abc-checkbox label,
.abc-radio label {
  &::before {
    background: none;
    border-color: #aaa;
    margin-left: 0;
    left: -20px;
  }
}

.abc-checkbox label::after {
  margin-left: 0;
  left: -20px;
  color: $awesome-checkbox-default-color;
}

.table td,
.table th {

  .abc-checkbox label::before,
  .abc-checkbox label::after {
    left: -5px;
    color: $awesome-checkbox-default-color;
  }
}

.abc-radio label::after {
  margin-left: 0;
  left: -17px;
}

.abc-checkbox-dark input[type="checkbox"]:checked+label {
  &::after {
    color: $gray-300;
  }
}


////// Wizard //////

.form-wizard .tab-content .tab-pane {
  padding: 0;
}

/////// NGX Datatable ///////

.ngx-datatable {
  width: 100%;

  .datatable-body-cell,
  .datatable-header-cell {
    padding: $table-cell-padding;
  }

  .datatable-header-cell {
    text-transform: uppercase;
    font-weight: $font-weight-semi-bold;
  }

  .datatable-body-cell {
    border-top: 1px solid $table-border-color;
  }

  .datatable-row-center.datatable-row-group .datatable-body-cell {
    overflow-x: visible;
    overflow-y: visible;
  }

  .datatable-row-wrapper {
    &:nth-of-type(odd) {
      background-color: $table-accent-bg;
    }
  }

  .datatable-pager {
    font-size: $font-size-sm;

    .pager>li {
      >a {
        padding: $pagination-padding-y $pagination-padding-x;
        color: $text-color;
        text-decoration: none;
      }

      &.active>a {
        background-color: $pagination-active-bg;
        border-radius: $border-radius;
      }

      &.disabled>a {
        color: $text-muted;
      }
    }

    .datatable-icon-left::before {
      content: "<";
    }

    .datatable-icon-right::before {
      content: ">";
    }
  }
}

/////// NG2 TAG INPUT ///////

.ng2-tag-input {

  &__text-input {
    color: $text-color;
    background-color: transparent;

    @include placeholder($text-color);
  }

  tag:hover {
    box-shadow: none !important;
  }
}

/////////APEXCHARTS////////////////
apx-chart {

  .apexcharts-tooltip,
  .apexcharts-menu {
    color: initial;
  }

  &.transparent-bg {
    .apexcharts-canvas {
      background-color: transparent !important;
    }
  }
}

///////// Ngx-charts ///////
.axis .tick text {
  fill: white;
}


/////////////NG-SELECT///////
ng-select {
  .ng-select-container {
    background-color: rgba(0, 0, 0, 0.24) !important;
    border: none !important;
  }

  & .ng-select-container,
  & .ng-input input,
  & .ng-dropdown-panel .ng-dropdown-panel-items .ng-option,
  & .ng-dropdown-panel .ng-dropdown-panel-items .ng-option-disabled,
  & .ng-dropdown-panel .ng-dropdown-panel-items .ng-option-selected,
  & .ng-dropdown-panel .ng-dropdown-panel-items .ng-option-marked,
  & .ng-select-container .ng-clear-wrapper {
    color: $white-dark!important;
  }

  & .ng-arrow {
    border-color: $white-dark transparent transparent !important;
  }


  .ng-dropdown-panel {
    border: none;
    background: none;

    .ng-dropdown-panel-items {
      .ng-option {

        &,
        &-disabled {
          background-color: rgba(0, 0, 0, 0.8);
        }

        &-selected,
        &-marked {
          background-color: $blue !important;
        }
      }
    }
  }
}

ng-select.danger {
  .ng-select-container {
    cursor: pointer !important;
    background-color: $red !important;
  }

  &.ng-select-opened .ng-select-container,
  &:hover .ng-select-container {
    background-color: #b83d0f !important;
  }
}

ng-select.warning {
  .ng-select-container {
    cursor: pointer !important;
    background-color: $yellow !important;
  }

  &.ng-select-opened .ng-select-container,
  &:hover .ng-select-container {
    background-color: #ca9303 !important;
  }
}

ng-select.success {
  .ng-select-container {
    cursor: pointer !important;
    background-color: $green !important;
  }

  &.ng-select-opened .ng-select-container,
  &:hover .ng-select-container {
    background-color: #46a444 !important;
  }
}

ng-select.primary {
  .ng-select-container {
    cursor: pointer !important;
    background-color: $blue !important;
  }

  &.ng-select-opened .ng-select-container,
  &:hover .ng-select-container {
    background-color: #3e72a7 !important;
  }
}
