@import "../../../styles/helpers";
@import "../../../styles/select2-variables";
@import "../../../../../node_modules/select2/src/scss/core";
@import "../../../../../node_modules/select2-bootstrap-theme/src/select2-bootstrap";
@import '~ng-wizard/themes/ng_wizard.min.css';

/***********************************/
/**            NG_WIZARD          **/
/***********************************/

#ngwizard {
  box-shadow: none;

  .step-content,
  .ng-wizard-container,
  .ng-wizard-toolbar {
    background-color: transparent;
  }

  .step-anchor {
    .nav-item.done,
    .nav-item.active {
      .nav-link {
        color: #f8f8f8 !important;
      }
    }
  }

  .error {
    font-size: 85%;
    padding-left: 0;
    margin-bottom: 5px;
    color: #db4912;
  }
}
