@import "../../../../node_modules/bootstrap-select/dist/css/bootstrap-select";
@import "../../scss/variables";
@import "../../scss/mixins";
@import "../../../../node_modules/bootstrap/scss/_variables";
@import "../../../../node_modules/bootstrap/scss/mixins";
@import "../../../../node_modules/bootstrap-colorpicker/dist/css/bootstrap-colorpicker";
@import "../../../../node_modules/ng2-datetime/src/vendor/bootstrap-datepicker/bootstrap-datepicker3.min";
@import "../../../../node_modules/ng2-datetime/src/vendor/bootstrap-timepicker/bootstrap-timepicker.min";
@import "../../scss/select2-variables";
@import "../../../../node_modules/select2/src/scss/core";
@import "../../../../node_modules/select2-bootstrap-theme/src/select2-bootstrap";

/**
 * Bootstrap select
 */

.selectpicker.form-control {
  height: auto;
}

.bootstrap-select {
  .btn.dropdown-toggle {
    padding-left: 10px;
    box-sizing: border-box;
    margin-left: -1px;

    &:after {
      margin-right: 0;
      margin-left: 0;
    }
  }

  .dropdown-menu {
    z-index: 3;
  }

  .dropdown-menu > li > a {
    display: block;
    width: 100%; // For `<button>`s
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: $line-height-base;
    color: $dropdown-link-color;
    text-align: inherit; // For `<button>`s
    white-space: nowrap; // prevent links from randomly breaking onto new lines
    background: none; // For `<button>`s
    border: 0; // For `<button>`s

    @include hover-focus {
      color: $dropdown-link-hover-color;
      text-decoration: none;
      background-color: $dropdown-link-hover-bg;
    }

    // Active state
    &.active {
      @include plain-hover-focus {
        color: $dropdown-link-active-color;
        text-decoration: none;
        background-color: $dropdown-link-active-bg;
        outline: 0;
      }
    }

    // Disabled state
    //
    // Gray out text and ensure the hover/focus state remains gray
    &.disabled {
      @include plain-hover-focus {
        color: $dropdown-link-disabled-color;
      }

      // Nuke hover/focus effects
      @include hover-focus {
        text-decoration: none;
        cursor: $cursor-disabled;
        background-color: transparent;
        background-image: none; // Remove CSS gradient
        @include reset-filter();
      }
    }
  }
}


/**
*  autosize
**/

.autogrow {
  overflow: hidden;
  resize: none;
}

/**
*  checkbox and radio
**/

.abc-checkbox, .abc-radio {
  padding-left: 5px;
}

/**
 * Switchery.
 */

.switch{
  box-sizing: content-box;
}

.switch input {
  display: none;
}
.switch i {
  display: inline-block;
  cursor: pointer;
  padding-right: 20px;
  transition: all ease 0.2s;
  -webkit-transition: all ease 0.2s;
  border-radius: 20px;
  box-shadow: inset 0 0 1px rgba(0,0,0,.5);
}
.switch i:before {
  display: block;
  content: '';
  width: 30px;
  height: 30px;
  padding: 1px;
  border-radius: 20px;
  background: white;
  box-shadow: 0 1px 2px rgba(0,0,0,.5);
}
.switch :checked + i {
  padding-right: 0;
  padding-left: 20px;
  background: rgb(100, 189, 99);
}

/**
 * Bootstrap Colorpicker
 * setting correct urls
 */

.colorpicker-saturation {
  background-image: url("assets/bootstrap-colorpicker/saturation.png");;
}

.colorpicker-hue {
  background-image: url("assets/bootstrap-colorpicker/hue.png");
}

.colorpicker-alpha,
.colorpicker-color {
  background-image: url("assets/bootstrap-colorpicker/alpha.png");
}

.colorpicker.colorpicker-horizontal .colorpicker-hue {
  background-image: url("assets/bootstrap-colorpicker/hue-horizontal.png");
}

.colorpicker.colorpicker-horizontal .colorpicker-alpha {
  background-image: url("assets/bootstrap-colorpicker/alpha-horizontal.png");
}

/**
* datetime
**/
.input-group.date, .input-group.timepicker {
  width: auto;
  box-sizing: border-box;
  .input-group-addon {
    padding: .375rem .75rem .375rem .75rem;
  }
}

