.realtime-echarts-history {
  margin-bottom: 0.7rem;
}

.realtime-echarts-diagram {
  height: 225px;
  margin-bottom: 0;
}

.area-chart-history {
  margin: 1rem 0 -0.1rem 0;
}

.area-chart-diagram {
  margin-bottom: 0;
}
